.page-wrapper{
    max-width: 1000px;
    width: 94%;
    margin: 0 auto;
    margin-top: 120px;
    font-size: 20px;
    font-family: Helvetica,Arial,sans-serif;
}

input, select{
    max-width: 230px;
    width: 100%;
    border: 2.5px solid black;
    height: 30px;
}

#forms > div{
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

label{
    max-width: 110px;
    width: 100%;
    margin-right: 30px;
}

input{
    font-size: 18px;
    display: inline-block;
}

button{
    max-width: 230px;
    width: 100%;
    background-color: lightgray;
}

#display{
    margin-top: 30px;
    border-collapse: collapse;
    visibility: hidden;
    width: auto;
    border: 2px solid black;
    font-size: 16px;
   
}


table , tr,th{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    background-color: lightgray;

}

td {
    margin: 15px;
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}